# Compiled Object files
bin
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Eclipse project files
.project
.cproject
.settings

# Premake4 executables and generated Makefile
premake4
premake4.exe
Makefile

# SGE configuration file
config
